{% extends "base.html" %}

{% block content %}
    <div class="main">
        <!-- Posts  -->
        <ul>
            <div class="title">{{ post.title }}</div>
            <ul>
                <div class="time">{{ post.created_on }} <i>by</i>  {{ post.author.email }}</div>
                <div class="body">{{ post.body|linebreaks }}</div>
            </ul>
            {% if user.is_staff or user.is_authenticated and user == post.author %}
                <a href="{% url edit post.pk %}">Edit</a> | 
            {% endif %}
            <a href="{% url add_comment post.pk %}">Add Comment</a> |
            <a href="{% url home %}">Back to Blog Frontpage</a>
        </ul>
        <!-- Comments -->
        <ul>
            {% for comment in post.comments.all %}
            <div class="time">{{ comment.created_on }} <i>by</i>  {{comment.name }}</div>
            <div class="body"> {{ comment.text }}</div>
                {% for subcomment in comment.comments.all %}
                    <div class="time">{{ subcomment.created_on }} <i>by</i>
                        {{subcomment.name }}</div>
                    <div class="body"> {{ subcomment.text }}</div>
                {% endfor %}
            {% endfor %}

            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div class="form_actions">
                    <input type="submit" value="Add Comment">
                </div>
            </form>
        </ul>
        <!-- If you have a Disqus account, copy & paste the Javascript code they gave you here. -->
        {% endblock %}
