{% extends "base.html" %}

{% block content %}
    <div class="main">

        <body>
            {{ state }}
            <form action="/login/" method="post">
                <table>
                    {% csrf_token %}
                    <tr><th>Email Address:</th><td><input type="text" name="username" value="{{ username}}" /><br /></td></tr>
                    <tr><th>Password:</th><td><input type="password" name="password" value="" /><br /></td></tr>
                </table>
                <input type="submit" value="Log In" />
            </form>
        </body>
{% endblock %}
