{% extends "base.html" %}

{% block content %}
    <div class="main">
        <!-- Posts  -->
        <ul>
            <div class="title">{{ post.title }}</div>
            <ul>
                <div class="time">{{ post.created_on }} <i>by</i>  {{ post.author.email }}</div>
                <div class="body">{{ post.body|linebreaks }}</div>
            </ul>
            {% if user.is_authenticated and user == post.author %}
                <a href="{% url edit post.pk %}">Edit</a> | 
            {% endif %}
            <a href="{% url home %}">Back to Blog Frontpage</a>
        </ul>
        <!-- Comments -->
        <!-- If you have a Disqus account, copy & paste the Javascript code they gave you here. -->
{% endblock %}
